In [1]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm

In [2]:
cook=pd.read_csv("C:\\Users\\HP\\Desktop\\Course\\Datas\\Cook.csv")
cook

     Sales  CompPrice  Income  Promotion  Price  Display  Age
0       95       1380      73         11   1200        0   42
1      112       1110      48         16    830        2   65
2      101       1130      35         10    800        1   59
3       74       1170     100          4    970        1   55
4       42       1410      64          3   1280        0   38
..     ...        ...     ...        ...    ...      ...  ...
395    126       1380     108         17   1280        2   33
396     61       1390      23          3   1200        1   55
397     74       1620      26         12   1590        1   40
398     59       1000      79          7    950        0   50
399     97       1340      37          0   1200        2   49

[400 rows x 7 columns]

In [3]:
cook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sales      400 non-null    int64
 1   CompPrice  400 non-null    int64
 2   Income     400 non-null    int64
 3   Promotion  400 non-null    int64
 4   Price      400 non-null    int64
 5   Display    400 non-null    int64
 6   Age        400 non-null    int64
dtypes: int64(7)
memory usage: 22.0 KB

In [4]:
cook.head(5)

   Sales  CompPrice  Income  Promotion  Price  Display  Age
0     95       1380      73         11   1200        0   42
1    112       1110      48         16    830        2   65
2    101       1130      35         10    800        1   59
3     74       1170     100          4    970        1   55
4     42       1410      64          3   1280        0   38

In [5]:
X=cook[['CompPrice','Income','Promotion','Price','Age',]]
X

     CompPrice  Income  Promotion  Price  Age
0         1380      73         11   1200   42
1         1110      48         16    830   65
2         1130      35         10    800   59
3         1170     100          4    970   55
4         1410      64          3   1280   38
..         ...     ...        ...    ...  ...
395       1380     108         17   1280   33
396       1390      23          3   1200   55
397       1620      26         12   1590   40
398       1000      79          7    950   50
399       1340      37          0   1200   49

[400 rows x 5 columns]

In [6]:
y=cook['Sales']
y

0       95
1      112
2      101
3       74
4       42
      ...
395    126
396     61
397     74
398     59
399     97
Name: Sales, Length: 400, dtype: int64

In [7]:
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [8]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 71.24806190688595
Coefficients:
 [ 0.09381667  0.13090392  1.30510255 -0.09252936 -0.45010013]

In [9]:
x = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, x).fit()
predictions = model.predict(x) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.540
Model:                            OLS   Adj. R-squared:                  0.534
Method:                 Least Squares   F-statistic:                     92.50
Date:                Thu, 30 Nov 2023   Prob (F-statistic):           3.07e-64
Time:                        10:43:22   Log-Likelihood:                -1748.1
No. Observations:                 400   AIC:                             3508.
Df Residuals:                     394   BIC:                             3532.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         71.2481      9.443      7.545      0.000      52.682      89.814
CompPrice      0.0938      0.008     12.035      0.000       0.078       0.109
Income         0.1309      0.035      3.777      0.000       0.063       0.199
Promotion      1.3051      0.146      8.952      0.000       1.018       1.592
Price         -0.0925      0.005    -18.336      0.000      -0.102      -0.083
Age           -0.4501      0.060     -7.506      0.000      -0.568      -0.332
==============================================================================
Omnibus:                        9.238   Durbin-Watson:                   1.959
Prob(Omnibus):                  0.010   Jarque-Bera (JB):                8.269
Skew:                           0.289   Prob(JB):                       0.0160
Kurtosis:                       2.598   Cond. No.                     1.69e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.69e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split

In [11]:
mlrX=x
mlrX

     const  CompPrice  Income  Promotion  Price  Age
0      1.0       1380      73         11   1200   42
1      1.0       1110      48         16    830   65
2      1.0       1130      35         10    800   59
3      1.0       1170     100          4    970   55
4      1.0       1410      64          3   1280   38
..     ...        ...     ...        ...    ...  ...
395    1.0       1380     108         17   1280   33
396    1.0       1390      23          3   1200   55
397    1.0       1620      26         12   1590   40
398    1.0       1000      79          7    950   50
399    1.0       1340      37          0   1200   49

[400 rows x 6 columns]

In [12]:
mlrY=cook['Sales']
mlrY

0       95
1      112
2      101
3       74
4       42
      ...
395    126
396     61
397     74
398     59
399     97
Name: Sales, Length: 400, dtype: int64

In [13]:
MLRtrain_X, MLRtest_X, MLRtrain_Y, MLRtest_Y=train_test_split(mlrX,mlrY, train_size=0.8,random_state=42)

In [14]:
MLRpredict_y=model.predict(MLRtest_X[MLRtrain_X.columns])
MLRpredict_y

209     62.809475
280     51.952318
33      59.197161
210     61.530347
93      90.223309
          ...
246     98.876502
227     79.579414
369    110.613791
176     62.817789
289     84.412959
Length: 80, dtype: float64

In [15]:
import numpy as np

In [16]:
np.abs(mean_absolute_percentage_error(MLRtest_Y, MLRpredict_y))

0.26296623410503833